@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap'); */

.react-flow__handle-top,
.react-flow__handle-bottom {
    visibility: hidden;
} 

hr{
    overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-top: 30px;
}
hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}